<!Doctype html>



<html>

    <head>
        <link rel="stylesheet" type="text/css" href="../static/style.css">
        <link href="https://fonts.googleapis.com/css?family=Fredoka+One|Titan+One" rel="stylesheet">
    </head>

    <body>
        {% include 'elements/navigation.html' ignore missing %}
        <div id="bodyContainer">
      
                <div id="leftBlock">
                </div>
              
                <div id="mainBlock">
                    <div id="introField">
                        <p>What is Vocabtest-Solver?</p>
                    </div>
                    <p>
                        Vocabtest-Solver was created for the sole purpose of completing vocabulary assignments from vocabtest.com autonomously.
                        While this can be used to evade assigned lists from teachers, this "bot" is essentially useless. If you're using vocabtest.com
                        like a normal human being, then this application has no justifiable purpose.
                        However, after having done many vocabtest.com assignments myself, and understanding how the website works, I decided to create this
                        for other students—uh, myself, I mean.
                        <br>
                        <br>
                        I created this utility with the sole purpose of applying my skills in python as well as learning the basics of web frameworks.
                        The artifact of this "learning" is very apparent, however; just take one look at the color palette. In addition to the visual defficiencies, the actual
                        back-end of this site is rather sloppy. The absence of traditional conventions and other common practices makes it agreeably shady, but the core functionality
                        of it is reasonably stable. I would have completely rewritten the site and algorithm, but summer only lasts so long, and it wasn't long
                        before I moved on to other projects.
                        <br>
                        <br>
                        Nevertheless, this utility is working as of August 2018, and hopefully stays operational for the forseeable future. Should vocabtest.com overhaul
                        their site or infrastructure, this program will probably become inoperably in the absence of active maitanence or monitoring. ¯\_(ツ)_/¯
                        <br>
                        <br>
                    </p>
                  
                    
                </div>
              
                <div id="rightBlock">
                </div>
              
            </div>
    </body>

</html>