<!Doctype html>



<html>

    <head>
        <link rel="stylesheet" type="text/css" href="../static/style.css">
        <link href="https://fonts.googleapis.com/css?family=Fredoka+One|Titan+One" rel="stylesheet">
    </head>

    <body>
        {% include 'elements/navigation.html' ignore missing %}
        <div id="bodyContainer">
      
                <div id="leftBlock">
                </div>
              
                <div id="mainBlock">
                    <div id="introField">
                        <p>Contact Creator</p>
                    </div>

                    <p>
                        In the scenario that the solver is acting up, not solving your lists, or randomly hanging,
                        feel free to let me know!
                        <br>
                        <br>
                        <textarea id="emailInput"></textarea>
                        <button id="emailSend"><a href="#">Send</a></button>
                    </p>
                  
                    
                </div>
              
                <div id="rightBlock">
                </div>
              
            </div>
    </body>

</html>